<<div id="context-menu-no-content">
    <ul class="dropdown-menu" role="menu">
        <li class="dropdown-header">Content elements</li>
        <li class="menu-item dropdown dropdown-submenu"><a href="javascript:" tabindex="-1">New content element after this</a>
            <ul class="dropdown-menu">
                <li><a class="feeditSimple-newcontent-textpic" href="javascript:">Text and images</a></li>
                <!-- <li><a class="feeditSimple-newcontent-images" href="javascript:">Images only</a></li> -->
            </ul>
        </li>
    </ul>
</div>

<!-- Your custom menu with dropdown-menu as default styling -->
<div id="context-menu">
    <ul class="dropdown-menu" role="menu">
        <!-- <li class="dropdown-header">Content elements</li> -->
        <li class="menu-item dropdown dropdown-submenu"><a href="javascript:" tabindex="-1">New content element after this</a>
            <ul class="dropdown-menu">
                <li><a class="feeditSimple-newcontent-textpic" href="javascript:">Text and images</a></li>
                <!-- <li><a class="feeditSimple-newcontent-images" href="javascript:">Images only</a></li> -->
            </ul>
        </li>
        <li><a href="javascript:" tabindex="-1">Insert image</a></li>
        <li><a href="javascript:" tabindex="-1">Delete</a></li>
       <!-- <li><a tabindex="-1">Cut</a></li>
        <li><a href="javascript:" tabindex="-1">Copy</a></li>
        <li><a href="javascript:" tabindex="-1">Paste</a></li>
        <li><a href="javascript:" tabindex="-1">Hide</a></li>
        <li><a href="javascript:" tabindex="-1">Show</a></li> -->
        <li class="menu-item dropdown dropdown-submenu"><a href="javascript:" tabindex="-1">Image orientation</a>
            <ul id="image_orientation" class="dropdown-menu">
                <li><a href="javascript:" class="feeditSimple-imageorient-0" href="javascript:">Above, center</a></li>
                <li><a href="javascript:" class="feeditSimple-imageorient-1" href="javascript:">Above, right</a></li>
                <li><a href="javascript:" class="feeditSimple-imageorient-2" href="javascript:">Above, left</a></li>
                <li><a href="javascript:" class="feeditSimple-imageorient-8" href="javascript:">Below, center</a></li>
                <li><a href="javascript:" class="feeditSimple-imageorient-9" href="javascript:">Below, right</a></li>
                <li><a href="javascript:" class="feeditSimple-imageorient-10" href="javascript:">Below, left</a></li>
                <li><a href="javascript:" class="feeditSimple-imageorient-17" href="javascript:">In text, right</a></li>
                <li><a href="javascript:" class="feeditSimple-imageorient-18" href="javascript:">In text, left</a></li>
                <li class="divider"></li>
                <li><a href="javascript:" class="feeditSimple-imageorient-25" href="javascript:">Beside Text, Right</a></li>
                <li><a href="javascript:" class="feeditSimple-imageorient-26" href="javascript:">Beside Text, Left</a></li>
            </ul>
        </li>
     <!--   <li class="menu-item dropdown dropdown-submenu"><a tabindex="-1">Image quality and type</a>
            <ul id="image_compression" class="dropdown-menu">
                <li><a href="javascript:" class="feeditSimple-image_compression-1" href="javascript:">None (ignores all other options)</a></li>
                <li><a href="javascript:" class="feeditSimple-image_compression-10" href="javascript:">GIF/256</a></li>
                <li><a href="javascript:" class="feeditSimple-image_compression-11" href="javascript:">GIF/128</a></li>
                <li><a href="javascript:" class="feeditSimple-image_compression-12" href="javascript:">GIF/64</a></li>
                <li><a href="javascript:" class="feeditSimple-image_compression-13" href="javascript:">GIF/32</a></li>
                <li><a class="feeditSimple-image_compression-14" href="javascript:">GIF/16</a></li>
                <li><a class="feeditSimple-image_compression-15" href="javascript:">GIF/8</a></li>
                <li><a class="feeditSimple-image_compression-39" href="javascript:">PNG</a></li>
                <li><a class="feeditSimple-image_compression-30" href="javascript:">PNG/256</a></li>
                <li><a class="feeditSimple-image_compression-31" href="javascript:">PNG/128</a></li>
                <li><a class="feeditSimple-image_compression-32" href="javascript:">PNG/64</a></li>
                <li><a class="feeditSimple-image_compression-33" href="javascript:">PNG/32</a></li>
                <li><a class="feeditSimple-image_compression-34" href="javascript:">PNG/16</a></li>
                <li><a class="feeditSimple-image_compression-35" href="javascript:">PNG/8</a></li>
                <li><a class="feeditSimple-image_compression-21" href="javascript:">JPG/Very High</a></li>
                <li><a class="feeditSimple-image_compression-22" href="javascript:">JPG/High</a></li>
                <li><a class="feeditSimple-image_compression-24" href="javascript:">JPG/Medium</a></li>
                <li><a class="feeditSimple-image_compression-26" href="javascript:">JPG/Low</a></li>
                <li><a class="feeditSimple-image_compression-28" href="javascript:">JPG/Very Low</a></li>
            </ul>
        </li>

        <li class="menu-item dropdown dropdown-submenu"><a tabindex="-1">Image effect</a>
            <ul class="dropdown-menu">
                <li><a class="feeditSimple-image_effects-1" href="javascript:">Rotate 90 CW</a></li>
                <li><a class="feeditSimple-image_effects-2" href="javascript:">Rotate -90 CCW</a></li>
                <li><a class="feeditSimple-image_effects-3" href="javascript:">Rotate 180</a></li>
                <li><a class="feeditSimple-image_effects-10" href="javascript:">Grayscale</a></li>
                <li><a class="feeditSimple-image_effects-11" href="javascript:">Sharpen</a></li>
                <li><a class="feeditSimple-image_effects-20" href="javascript:">Normalize</a></li>
                <li><a class="feeditSimple-image_effects-23" href="javascript:">Contrast</a></li>
                <li><a class="feeditSimple-image_effects-25" href="javascript:">Brighter</a></li>
                <li><a class="feeditSimple-image_effects-26" href="javascript:">Darker</a></li>
            </ul>
        </li> -->
    </ul>
</div>


if ($('#note-editor-' + uid).find('.csc-textpic-imagewrap').length > 0) {
        console.log('There is an image');
        /*var responseContent;
        $.get('/typo3conf/ext/lth_feedit_simple/res/template/contentelement.html', function (response) {
            responseContent = $(response).filter('div[data-imageOrient="' + imageOrient + '"]').html();
            wrapContent = $(response).filter('div[data-imageWrap="' + imageOrient + '"]').html();
            console.log(response);
        });*/

        var afterContent = '<div class="csc-textpic-imagerow csc-textpic-imagerow-last">';
        
        if(imageOrient=='0' || imageOrient=='1' || imageOrient=='2') {
            afterContent += '<div class="csc-textpic-imagecolumn csc-textpic-firstcol csc-textpic-lastcol">';
        }
        
        afterContent += '<figure class="csc-textpic-image csc-textpic-last">\
            <img id="new' + newIndex + '" class="feeditSimple-placeHolder" src="typo3conf/ext/lth_feedit_simple/res/icons/placeholder.png" alt="" />\
            </figure>';
        
        if(imageOrient=='0' || imageOrient=='1' || imageOrient=='2') {
            afterContent += '</div>';
        }
        
        afterContent += '</div>';
        
        if ($('#note-editor-' + uid).find('.csc-textpic-imagerow').length > 0) {
            //There is more than one image
            console.log('There are more than image');
            $('#note-editor-' + uid).find('.csc-textpic-imagerow').removeClass('csc-textpic-imagerow-last');
            $('#note-editor-' + uid).find('.csc-textpic-imagerow').last().after(afterContent);
        } else {
            //There is only one image
            console.log(uid + 'There is only one image');
            $('#note-editor-' + uid).find('.csc-textpic-image').wrap('<div class="csc-textpic-imagerow">\
                <div class="csc-textpic-imagecolumn csc-textpic-firstcol csc-textpic-lastcol">\
                </div>\
                </div>');
            $('#note-editor-' + uid).find('.csc-textpic-imagerow').after(afterContent);
            /*if ($('#note-editor-' + uid).find('.csc-textpic-above').length > 0) {
                $('#note-editor-' + uid).find('.csc-textpic-imagerow').wrapAll('<div class="csc-textpic-center-outer"><div class="csc-textpic-center-inner"></div></div>');
            }*/
        }
    } else {
        console.log('There is no image');
        var prependContent='';
        //There is no image
        /*
         * 
         <figure class="csc-textpic-image csc-textpic-last"><img src="fileadmin/_processed_/csm_aaron_fc6c628549.jpg" width="75" height="50" id="27" alt="" draggable="false"></figure></div></div></div><p>&nbsp;</p><p>New elttttttttttttttttttttttttttttttttttttement...        </p><p>&nbsp;</p></div>
         */
        if(imageOrient=='0' || imageOrient=='1' || imageOrient=='2') {
            prependContent = '<div class="csc-textpic csc-textpic-center csc-textpic-above csc-textpic-equalheight">';
        }
        prependContent += '<div class="csc-textpic-imagewrap" data-csc-images="1">'
        
        if(imageOrient=='0' || imageOrient=='1' || imageOrient=='2') {
            prependContent += '<div class="csc-textpic-center-outer"><div class="csc-textpic-center-inner">';
        }      
        
        prependContent += '<figure class="csc-textpic-image csc-textpic-last">\
            <img id="new' + newIndex + '" class="feeditSimple-placeHolder" src="typo3conf/ext/lth_feedit_simple/res/icons/placeholder.png" alt="" />\
            </figure>';
        
        if(imageOrient=='0' || imageOrient=='1' || imageOrient=='2') {
            prependContent += '</div></div>';
        }
        
        prependContent += '</div>';
        
        if(imageOrient=='0' || imageOrient=='1' || imageOrient=='2') {
            prependContent += '</div></div>';
        }
        
        $('#note-editor-' + uid).find('.note-editable').prepend(prependContent);
                //.wrapInner('<div class="csc-textpic csc-textpic-center csc-textpic-above csc-textpic-equalheight"></div>');
        imageClick($('#new' + newIndex));
    }

    $('[id="new' + newIndex + '"]').click(function () {
        $('#chosenImage').attr('data-src', $(this).attr('src'));
        $('#chosenImage').attr('data-pid', $(this).closest('.note-editor').attr('id').split('-').pop());    
    });
    //make editable???
    makeEditable('#c' + uid);
    
    function changeImageOrientation(cmd, uid, imageOrientationId)
{
    //console.log(cmd + uid);

    try {
        var innerContainer = $('#note-editor-' + uid + ' .note-editable');

        //console.log(innerContainer);
        $.get('/typo3conf/ext/lth_feedit_simple/res/template/contentelement.html', function (response) {
            //console.log($(innerContainer).find('.csc-textpicHeader'));
            if (innerContainer.find('.csc-textpicHeader').length > 0) {
                var header = $(innerContainer).find('.csc-textpicHeader').text();
            } else if (innerContainer.prev('h2').length > 0) {
                var header = $(innerContainer).prev('h2').text();
            }

            //Replace content in template
            var content = '<div class="lth_feeditsimple_content">' + $(innerContainer).find('.lth_feeditsimple_content').html() + '</div>';


            if((imageOrientationId=="0" || imageOrientationId=="1" || imageOrientationId=="2") && $(innerContainer).find('.csc-textpic-center-outer').length == 0) {
                console.log('???');
                $(innerContainer).find('.csc-textpic-image').wrap('<div class="csc-textpic-center-outer"><div class="csc-textpic-center-inner"></div></div>');
            } 
            var image = $(innerContainer).find('.csc-textpic-imagewrap').outerHTML();

            var responseContent = $(response).filter("#" + cmd).html();

            responseContent = responseContent.replace('###IMAGE###', image);

            //responseContent = responseContent.replace('###IMAGE###', image);
            responseContent = responseContent.replace('###CONTENT###', content);
            //console.log(responseContent);

            if (header) {
                //there is a header :( and we have to deal with it
                if ($(responseContent).find('.csc-textpicHeader').length > 0 && innerContainer.prev('h2').length > 0) {
                    //There is a header in the template and a header ouside in the original
                    //put header in the template and remove the outside header
                    responseContent = responseContent.replace('###HEADER###', '<h2>' + header + '</h2>');
                    $(innerContainer).prev('h2').remove();
                } else if ($(responseContent).find('.csc-textpicHeader').length > 0 && innerContainer.prev('h2').length == 0) {
                    //put header in the template
                    responseContent = responseContent.replace('###HEADER###', '<h2>' + header + '</h2>');
                } else if ($(responseContent).find('.csc-textpicHeader').length == 0 && innerContainer.prev('h2').length == 0) {
                    //put header in outer container and remove template header
                    $(innerContainer).prepend('<h2>' + header + '</h2>');
                    $(responseContent).find('.csc-textpicHeader').remove();
                }
            } else {
                //remove template header

                responseContent = responseContent.replace('<div class="csc-textpicHeader">###HEADER###</div>', '');
                //responseContent = responseContent.replace('###HEADER###', '<h2>' + header + '</h2>');
            }
            //console.log(imageorient);
            $(innerContainer).html(responseContent);
            $('#note-editor-' + uid).attr('data-imageorient', imageOrientationId);

            //showMessage(okMessage);
            addId('c' + uid);
            //makeEditable('#c'+uid);
            //     makeEditable('.csc-default.textpic, .csc-default.text');

            /*$.ajax({
             url: 'index.php',
             type: 'post',
             dataType: 'json',
             data: {
             eID : 'lth_feedit_simple',
             cmd : 'updateImageOrientation',
             uid : imageOrientationId,
             pid : uid,
             sid : Math.random(),
             },
             success: function(data) {
             //replace the content
             $(innerContainer).html(responseContent);
             showMessage(okMessage);
             },
             error: function(data) {
             alert('Something went wrong');
             }
             });*/

        });
    } catch (err) {
        //console.log(err);
        showMessage({'header': '500', 'message': err});
    }
}
