<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!-- ****************************************************************** -->
        <div id="above-center" data-imageOrient="0">
            <div class="csc-textpic csc-textpic-center csc-textpic-above">
                ###IMAGE###
                <div class="csc-textpic-text">
                    ###CONTENT###
                </div>
            </div>
        </div>
        <!-- ****************************************************************** -->
        <div id="above-right" data-imageOrient="1">
            <div class="csc-textpic csc-textpic-right csc-textpic-above">
                ###IMAGE###
                <div class="csc-textpic-text">
                    ###CONTENT###
                </div>
            </div>
        </div>
        <!-- ****************************************************************** -->
        <div id="above-left" data-imageOrient="2">
            <div class="csc-textpic csc-textpic-left csc-textpic-above">
                ###IMAGE###
                <div class="csc-textpic-text">
                    ###CONTENT###
                </div>
            </div>
        </div>
        <!-- ****************************************************************** -->
        <div id="below-center" data-imageOrient="8">
            <div class="csc-textpic csc-textpic-center csc-textpic-below">
                <div class="csc-textpic-text">
                    ###CONTENT###
                </div>
                <div class="csc-textpic-imagewrap">
                    <div class="csc-textpic-center-outer">
                        <div class="csc-textpic-center-inner">
                            ###IMAGE###
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ****************************************************************** -->
        <div id="below-right" data-imageOrient="9">
            <div class="csc-textpic csc-textpic-right csc-textpic-below">
                <div class="csc-textpic-text">
                    ###CONTENT###
                </div>
                ###IMAGE###
            </div>
        </div>
        <!-- ****************************************************************** -->
        <div id="below-left" data-imageOrient="9">
            <div class="csc-textpic csc-textpic-left csc-textpic-below">
                <div class="csc-textpic-text">
                    ###CONTENT###
                </div>
                ###IMAGE###
            </div>
        </div>
        <!-- ****************************************************************** -->
        <div id="in-text-right" data-imageOrient="17">
            <div class="csc-textpic csc-textpic-intext-right">
                ###IMAGE###
                <div class="csc-textpic-text">
                    ###CONTENT###
                </div>
            </div>
        </div>
        <!-- ****************************************************************** -->
        <div id="in-text-left" data-imageOrient="18">
            <div class="csc-textpic csc-textpic-intext-left">
                ###IMAGE###
                <div class="csc-textpic-text">
                    ###CONTENT###
                </div>
            </div>
        </div>
        <!-- ****************************************************************** -->
        <div id="beside-text-right" data-imageOrient="25">
            <div class="csc-textpic csc-textpic-intext-right-nowrap csc-textpic-intext-right-nowrap-###UID###">
                <figure class="csc-textpic-image csc-textpic-last">###IMAGE###</figure>
                <div class="csc-textpic-text">
                    <div class="csc-textpicHeader">###HEADER###</div>
                    ###CONTENT###
                </div>
            </div>
        </div>
        <!-- ****************************************************************** -->
        <div id="beside-text-left" data-imageOrient="26">
            <div class="csc-textpic csc-textpic-intext-left-nowrap csc-textpic-intext-left-nowrap-###UID###">
                ###IMAGE###
                <div class="csc-textpic-text">
                    <div class="csc-textpicHeader">###HEADER###</div>
                    ###CONTENT###
                </div>
            </div>
        </div>
    </body>
</html>