<h1>Main Template</h1>
<!-- ###MAIN_TEMPLATE### begin -->
###INCLUDES###
<!-- this allows csshover3-source.htc to be put at top of page -->
<div id="###CSSPREFIX###-bodyattach"></div>
<div id="###CSSPREFIX###-container">
###MENU_BAR###
</div>

<!-- <input type="hidden" name="TSFE_ADMIN_PANEL[preview_showHiddenRecords]" value="1" id="TSFE_ADMIN_PANEL-preview_showHiddenRecords" /> -->

<!-- Modal -->
<div class="modal fade" id="feeditSimple-modalBox" tabindex="-1" data-backdrop="static" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-body-right">
            </div>
            <div class="modal-footer">
              <!--   <a href="#" class="btn">Close</a>
                <a href="#" class="btn btn-primary">Save changes</a>
                -->
                <input type="hidden" id="modalType" />
                <input type="hidden" id="chosenImage" data-src="" data-pid="" />
            </div> 
        </div>
    </div>
</div>

<!-- Modal 2-->
<div class="modal fade" class="feeditSimple-modalBox-2" id="feeditSimple-modalBox-2" tabindex="-1" data-backdrop="static" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3></h3>
            </div>
            <div class="modal-body" style="overflow:scroll;">
            </div>
            <div class="modal-footer">
                <a href="#" class="btn">Close</a>
                <a href="#" class="btn btn-primary">Save changes</a>
            </div>
        </div>
    </div>
</div>

<div id="feeditSimple-sidePanel" class="sidepanel">
    <div class="panel-header"></div>
    <div class="panel-body"></div>
</div>

<input type="hidden" id="lth_feedit_simple-saveIds" />
<input type="hidden" id="lth_feedit_simple-deleteIds" />
<!-- ###MAIN_TEMPLATE### end -->



<h1>Template, to show the button "Activate editing" when editing is enabled but not active</h1>
<!-- ###MENU_CLOSED### begin -->
<div id="###CSSPREFIX###-menuBar" class="###CSSPREFIX###-closedMenu closedMenu">
	<a class="###CSSPREFIX###-smallButton" href="#" onclick="document.TSFE_ADMIN_PANEL_Form.elements['TSFE_ADMIN_PANEL[menuOpen]'].value = 1; document.TSFE_ADMIN_PANEL_Form.submit(); return false;" title="###OPEN_EDIT_MODE_TOOLTIP###">
		<span class="feEditSimple-smallButtonText">###OPEN_EDIT_MODE###</span>
	</a>
</div>
<!-- ###MENU_CLOSED### end -->



<h1>Template, holding the menubar</h1>
<!-- ###MENU_OPENED### begin -->
<div class="" id="###CSSPREFIX###-menuBar">
    <div class="navbar navbar-default" style="margin-bottom:0px;">
        <div class="container-fluid">###PAGE_EDIT_PANEL###</div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- ###SECTIONS_FIRST_ROW### begin -->
            <!-- ###SECTION### begin -->
            <div id="###SECTION_CSSID###" class="###CSSPREFIX###-menuToolbar" ###SECTION_INLINECSS###>###SECTION_ITEMS###</div>
            <!-- ###SECTION### end -->
            <!-- ###SINGLE_ITEM### begin -->###ITEM_SEPARATOR######ITEM_NAME###<!-- ###SINGLE_ITEM### end -->
            <!-- ###SEPARATOR### begin --><span class="###CSSPREFIX###-separator separatorBar"></span><!-- ###SEPARATOR### end -->

            <!-- ###SECTIONS_FIRST_ROW### end -->

            <!-- ###USERLISTING### begin -->
                        <dl class="###CSSPREFIX###-menuUserlist"><dt>###USER_LABEL###</dt><dd>###USER_LIST###</dd></dl>
            <!-- ###USERLISTING### end -->
        </div>
    </div>
    <div id="###CSSPREFIX###-secondRow" class="###CSSPREFIX###-secondRow">
        <!-- ###SECTIONS_SECOND_ROW### begin -->
            Templates from first Row are used!
        <!-- ###SECTIONS_SECOND_ROW### end-->
    </div>
    <div class="###CSSPREFIX###-thirdRow">
        <form class="form-inline">

        </form>
    </div>
    <div class="###CSSPREFIX###-fourthRow">
    </div>
</div>
<!-- ###MENU_OPENED### end -->



<h1>Default edit-panel</h1>
<!-- ###EDITPANEL### begin -->
<div class="feEditSimple-allWrapper###ALLWRAPPER_CLASS###" id="###EDITPANEL_ID###">
	<!-- ###HOVERFORM### start -->
	<form name="###FORM_NAME###" id="###FORM_NAME###" action="###FORM_URL###" method="post" enctype="###FORM_ENCTYPE###">
		###FORM_HIDDENFIELDS###
		###FORM_CONTENT###	
		<div class="feEditSimple-editPanelDiv" style="display: none;">
			###EDITPANEL_ACTIONS###
		</div>
	</form>	
	<!-- ###HOVERFORM### end -->
	<div class="feEditSimple-contentWrapper###CWRAPPER_CLASS###" ###CWRAPPER_EXTRA###>
				
		<!-- ###EDITFORM### start -->
		<form accept-charset="UTF-8" name="###EDITFORM_NAME###" id="###EDITFORM_NAME###" action="###EDITFORM_URL###" method="post" enctype="###FORM_ENCTYPE###" onsubmit="###FORM_ONSUBMIT###">
			<input type="hidden" name="cod_hack" value="&#153;">
			###EDITFORM_HIDDENFIELDS###
			###EDITFORM_CONTENT###
		</form>
		<!-- ###EDITFORM### end -->
		###CONTENT_ELEMENT###
	</div>
</div>
<!-- ###EDITPANEL### end-->



<h1>Default editpanel Action</h1>
<!-- ###EDITPANEL_ACTION### start -->
<input type="button" class="feEditSimple-editButton ###ACTION_CLASS###" value="###ACTION_VALUE###" title="###ACTION_LABEL###" ###ACTION_PARAMS###/>
<!-- ###EDITPANEL_ACTION### end -->