<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="editPage">
            <div class="control-group">
                <label class="control-label" for="inputTitle">Title</label>
                <div class="controls">
                  <input type="text" id="inputTitle" placeholder="Title">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputSubTitle">Subtitle</label>
                <div class="controls">
                  <input type="text" id="inputSubTitle" placeholder="Subtitle">
                </div>
              </div>
                <div class="control-group">
                <label class="control-label" for="inputNavTitle">Navigation title</label>
                <div class="controls">
                  <input type="text" id="inputNavTitle" placeholder="Navigation title">
                </div>
              </div>
            
            <div class="form-actions">
                <button id="save-panel-bt" type="button" class="btn btn-primary">Save</button>
                <button id="close-panel-bt" type="button" class="btn">Cancel</button>
            </div>
        </div>
    </body>
</html>
