<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Help</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="lth_feeditsimple_help_container">
            <div class="help_header">
                <h2>Feedit Simple Hjälp</h2>
                <a class="help_start" href="javascript:">Hem</a>
            </div>
            <div class="help_start lth_feeditsimple_hidden">
                <table style="font-size:1,5em;">
                    <tbody>
                        <tr>
                            <td><a class="help_edit_text" href="javascript:">Redigera innehåll</a></td>
                            <td><a class="help_images" href="javascript:">Använda bilder</a></td>
                            <td><a class="help_create_delete_content" href="javascript:">Skapa och radera innehåll</a></td>
                            <td><a class="help_move_content" href="javascript:">Flytta innehåll</a></td>
                        </tr>
                        <tr>
                            <td><a class="help_show_hide_content" href="javascript:">Gömma och visa innehåll</a></td>
                            <td><a class="help_goto_backend" href="javascript:">Gå till Typo3 backend</a></td>
                            <td><a class="help_loginout" href="javascript:">Logga in/ut</a></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="help_loginout lth_feeditsimple_hidden">
                <h2>Logga in och ut</h2>
                <div>
                    <img src="typo3conf/ext/lth_feedit_simple/res/images/loginout.gif" style="width:427px;height:97px;" alt=""/>
                </div>
                <div>
                    <ul>
                        <li><b>Logga in</b></li>
                        <li>Klicka på "Typo3-inloggning" i sidfoten</li>
                        <li>Logga in med lucatid och password på inloggningssidan.</li>
                        <li>Lyckas inloggningen kommer du tillbaka till den urspungliga sidan.</li>
                        <li><b>Logga ut</b></li>
                        <li>I menyn med ditt användarnamn väljer du "Logga ut"</li>
                    </ul> 
                </div>
            </div>
            <div class="help_edit_text lth_feeditsimple_hidden">
                <h2>Redigera text</h2>
                <div>
                    <img src="typo3conf/ext/lth_feedit_simple/res/images/editcontent.gif" style="width:427px;height:97px;" alt=""/>
                </div>
                <div>
                    <ul>
                        <li><b>Lägg till text</b></li>
                        <li>Sätt markören där du vill lägga till text och börja skriva.</li>
                        <li>När något ändrats blir knappen "Spara" i verktygsraden aktiv. Klicka för att spara.</li>
                        <li><b>Ändra format på text</b></li>
                        <li>Markera det avsnitt du vill ändra.</li>
                        <li>En liten verktygsrad visas:
                            <ul>
                                <li>Style: normal, h2, h3, pre (code)</li>
                                <li>Fet stil</li>
                                <li>Radera formattering</li>
                                <li>Ordnad lista</li>
                                <li>Oordnad lista</li>
                                <li>Infoga länk</li>
                            </ul>
                        </li>
                        <li>När något ändrats blir knappen "Spara" i verktygsraden aktiv. Klicka för att spara.</li>
                    </ul>
                    <div>
                        <img src="typo3conf/ext/lth_feedit_simple/res/images/insertlink.gif" style="width:427px;height:246px;" alt=""/>
                    </div>
                    <ul>
                        <li><b>Länkar</b></li>
                        <li>Markera det avsnitt du vill ändra; en liten verktygsrad visas</li>
                        <li>Klicka på länkverktyget; dialogrutan "Infoga länk" visas</li>
                        <li>För att länka till en extern webbplats skriver man hela url:en i fältet (http://www.kth.se/)</li>
                        <li>För att länka till en mailadress skriver man epostadressen i fältet (webmaster@lth.se)</li>
                        <li>För att länka till en sida eller en fil inom den egna webbplatsen klickar man på mappikonen till höger om fältet</li>
                        <li>Vill man att länken ska visas i ett nytt fönster kryssar man i det</li>
                        <li>Klicka på "Infoga länk"</li>
                        <li>Vill man ta bort länken klickar man på den och väljer ta bort länk i den lilla menyn som kommer upp</li>
                        <li>När något ändrats blir knappen "Spara" i verktygsraden aktiv. Klicka för att spara.</li>
                    </ul> 
                    <div>
                        <img src="typo3conf/ext/lth_feedit_simple/res/images/linkbrowser.gif" style="width:427px;height:186px;" alt=""/>
                    </div>
                    <ul>
                        <li><b>Filbläddraren</b></li>
                        <li>Det finns två typer av länkar: sidor (jordglobsikon) och filer (dokumentikon) som ligger i mappar (mappikon)</li>
                        <li>Klicka på pilarna för att fälla ut grenarna i trädet</li>
                        <li>För att länka till en sida eller en fil klickar man på den sida/fil man vill länka till</li>
                        <li><b>Ladda upp filer</b></li>
                        <li>Klickar man på en mapp blir knappen "Välj filer..." aktiv och man kan ladda upp en fil från sin dator</li>
                    </ul>
                </div>
            </div>
            <div class="help_images lth_feeditsimple_hidden">
                <h2>Använda bilder</h2>
                <div>
                    <img src="typo3conf/ext/lth_feedit_simple/res/images/insertimage.gif" style="width:427px;height:97px;" alt=""/>
                </div>
                <div>
                    <ul>
                        <li><b>Infoga bild</b></li>
                        <li>Högerklicka på ett innehållselement och välj "Infoga bild"</li>
                        <li><b>Ändra bildorientering</b></li>
                        <li>Högerklicka på ett innehållselement och välj "Bildorientering", välj sedan vilken orientering bilden ska ha</li>
                        <li>När något ändrats blir knappen "Spara" i verktygsraden aktiv. Klicka för att spara.</li>
                    </ul>
                    <div>
                    <img src="typo3conf/ext/lth_feedit_simple/res/images/editimage.gif" style="width:427px;height:97px;" alt=""/>
                    </div>
                    <ul>
                        <li><b>Ändra bilden</b></li>
                        <li>Vänsterklicka på en bild</li>
                        <li>En liten verktygsrad visas:
                            <ul>
                                <li>Radera bild (papperskorg)</li>
                                <li>Välja bild (pennan)</li>
                                <li>Dra i reglaget i mitten för att ändra storlek på bilden</li>
                                <li>Finns det flera bilder i samma element kan man flytta dem genom att klicka på upp/ner</li>
                                <li>Infoga länk (se avsnittet om att redigera text för att lägga in länkar)</li>
                                <li>Ta bort länk</li>
                                <li>När något ändrats blir knappen "Spara" i verktygsraden aktiv. Klicka för att spara.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="help_create_delete_content lth_feeditsimple_hidden">
                <h2>Skapa och radera innehåll</h2>
                <div>
                    <img src="typo3conf/ext/lth_feedit_simple/res/images/insertdeletecontent.gif" style="width:427px;height:97px;" alt=""/>
                </div>
                <div>
                    <ul>
                        <li><b>Skapa innehåll</b></li>
                        <li>Högerklicka på ett innehållselement och välj "Infoga innehåll efter detta"</li>
                        <li>Välj text med bild; ett nytt element skapas under detta</li>
                        <li>När något ändrats blir knappen "Spara" i verktygsraden aktiv. Klicka för att spara.</li>
                        <li><b>Radera innehåll</b></li>
                        <li>Högerklicka på ett innehållselement och välj "Radera innehåll"</li>
                        <li>Svara ok i dialogrutan som kommer upp; elementet tas bort</li>
                        <li>När något ändrats blir knappen "Spara" i verktygsraden aktiv. Klicka för att spara.</li>
                    </ul>
                </div>
            </div>
            <div class="help_show_hide_content lth_feeditsimple_hidden">
                <h2>Visa och dölja innehåll</h2>
                <div>
                    <img src="typo3conf/ext/lth_feedit_simple/res/images/showhidecontent.gif" style="width:427px;height:97px;" alt=""/>
                </div>
                <div>
                    <ul>
                        <li><b>Visa innehållselement</b></li>
                        <li>Välj "Visa" i verktygsmenyn</li>
                        <li>Välj "Visa dolda innehållselement"; innehållselementen som är dolda visas nu gråmarkerade och alternativet i menyn markeras</li>
                        <li><b>Dölja innehållselement</b></li>
                        <li>Välj "Visa" i verktygsmenyn</li>
                        <li>"Visa dolda innehållselement" är markerat med en grön bock - välj detta; innehållselementen som är dolda försvinner nu alternativet i menyn avmarkeras</li>
                        <li><b>Visa sidor som är dolda i meny</b></li>
                        <li>Välj "Visa" i verktygsmenyn</li>
                        <li>Välj "Visa sidor dolda i meny"; sidor som är dolda i meny visas nu i menyerna med en "ögonikon" efteråt</li>
                        <li><b>Dölja sidor som är dolda i meny</b></li>
                        <li>Välj "Visa" i verktygsmenyn</li>
                        <li>"Visa sidor dolda i meny" är markerat med en grön bock - välj detta; sidor som är dolda i meny försvinner nu från menyerna</li>
                        <li><b>Visa dolda sidor</b></li>
                        <li>Välj "Visa" i verktygsmenyn</li>
                        <li>Välj "Visa dolda sidor"; sidor som är dolda visas nu i menyerna med en "förbudsikon" efteråt</li>
                        <li><b>Dölja sidor som är dolda</b></li>
                        <li>Välj "Visa" i verktygsmenyn</li>
                        <li>"Visa dolda sidor dolda" är markerat med en grön bock - välj detta; sidor som är dolda försvinner nu från menyerna</li>
                    </ul>
                </div>
            </div>
            <div class="help_move_content lth_feeditsimple_hidden">
                <h2>Flytta innehåll</h2>
                <div>
                    <img src="typo3conf/ext/lth_feedit_simple/res/images/movecontent.gif" style="width:427px;height:97px;" alt=""/>
                </div>
                <div>
                    <ul>
                        <li><b>Flytta innehållselement på en sida</b></li>
                        <li>Vänsterklicka på elementet och dra det till den plats du vill ha det.</li>
                        <li><b>Klippa ut innehållselement</b></li>
                        <li>Kommer snart</li>
                        <li><b>Kopiera innehållselement</b></li>
                        <li>Kommer snart</li>
                        <li><b>Klistra innehållselement</b></li>
                        <li>Kommer snart</li>
                    </ul>
                </div>
            </div>
            <div class="help_right_column lth_feeditsimple_hidden">
                <h2>Högerkolumn</h2>
                <div>
                    <img src="typo3conf/ext/lth_feedit_simple/res/images/rightcolumn.gif" style="width:427px;height:139px;" alt=""/>
                </div>
                <div>
                    <ul>
                        <li><b>Infoga högerkolumn på en sida</b></li>
                        <li>Välj "Infoga högerkolumn i menyn "Nytt".</li>
                        <li>Högerkolumnen visas och man får möjlighet att infoga ett element</li>
                        <li>Om man inte lägger in ett element, och sparar, är högerkolumnen inte kvar nästa gång man kommer till sidan</li>
                        <li><b>Ta bort högerkolumnen</b></li>
                        <li>Radera alla element i kolumnen och ladda om sidan</li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
